
__pycache__/
.cache
.coverage
.coverage.*
.DS_Store
.eggs/
.env
.hatch/
.hypothesis/
.idea_modules/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources.xml
.idea/**/dataSources/
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/workspace.xml
.idea/dictionaries
.idea/replstate.xml
.idea/sonarlint
.installed.cfg
.nox/
.pytest_cache/
.Python
.tox/
.venv
.vscode/
*.backup
*.cover
*.egg
*.egg-info/
*.iws
*.py,cover
*.py[cod]
*.so
*.swo
*.swp
*.temp
*.tmp
*.tscproj.backup
*~
*$py.class
/.idea/
/.rakeTasks
/out/
~*
atlassian-ide-plugin.xml
build/
cmake-build-debug/
com_crashlytics_export_strings.xml
coverage.xml
crashlytics-build.properties
crashlytics.properties
develop-eggs/
dist/
docs/site
downloads/
eggs/
env.bak/
env/
ENV/
fabric.properties
htmlcov/
lib/
lib64/
llms.txt
MANIFEST
nosetests.xml
parts/
pip-wheel-metadata/
sandbox/
sdist/
share/python-wheels/
site/
src/camtasio/_version.py
Thumbs.db
uv.lock
var/
venv.bak/
venv/
wheels/